.tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-right: 10px;
}



@media screen and (max-width: 700px) {


    .tag-container {
        font-size: 10px;
        margin-bottom: 10px;
    }
}