.description-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;

}

.large {
    width: 70%;
}

.small {
    width: 45%;
}



.description-header {
    display: flex;
    align-items: center;
    background-color: #FF6060;
    height: 50px;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1;
}

.description-name {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
}

.description-content-container {
    color: #FF6060;
    font-weight: 400;
    font-size: 23px;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-top: -10px;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;

}



.description-arrow-close {
    margin-right: 20px;

}

.description-arrow-close:hover {
    cursor: pointer;
}

.description-arrow-open:hover {
    cursor: pointer;

}

.description-arrow-open {
    margin-right: 20px;
    transform: rotate(3.142rad);

}