.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 50px 50px;

}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-left: 20px;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
}


@media screen and (max-width:700px) {

    .header-container {
        margin: auto;
        justify-content: space-around;
        padding: 0px 50px 0px 0px;
    }



    .nav-link {
        font-size: 16px;
    }

    .logo {
        width: 90%;
        margin-left: 10px;

    }
}