.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;

}


.nav-link {
    margin-right: 50px;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
}