.house-container {
    padding-left: 50px;
    padding-right: 50px;

}

.slider-container {
    width: 900px;
    margin: auto;
}

.house-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.house-title-container {
    margin-bottom: 30px;
}

.house-title {
    color: #FF6060;
    font-size: 36px;
}

.house-location {
    color: #FF6060;
    font-size: 18px;
    margin-bottom: 30px;
}

.tags-container {
    display: flex;
}

.house-description {
    display: flex;
    justify-content: space-between;
}



.placeholder {
    flex-grow: 1;
}

.description-container {
    margin: 50px 0px 50px 0px;
}