.house-container {
    width: 95%;
    margin: auto;
}

.house-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.house-title-container {
    margin-top: 10px;
}

.house-title {
    color: #FF6060;
    font-size: 36px;
}

.house-location {
    color: #FF6060;
    font-size: 18px;
    margin-bottom: 30px;
}

.tags-container {
    display: flex;
}

.house-description {
    display: flex;
    justify-content: space-between;
}



.placeholder {
    height: 100%;
    flex-grow: 1;
}



@media screen and (max-width: 700px) {

    .house-container {
        width: 90%;
        margin: auto;
    }



    .house-header {
        align-items: inherit;
        flex-direction: column;
    }

    .house-location {

        font-size: 14px;
    }

    .house-title {
        font-size: 18px;
    }

    .tags-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .house-description {
        flex-direction: column;
    }

    .host-info-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}