.slider-container {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 50px;
}



.slide.active {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    border-radius: 25px;
}

.right-arrow {
    position: absolute;
    top: 43%;
    right: 20px;
    z-index: 2;
}

.left-arrow {
    position: absolute;
    top: 43%;
    left: 20px;
    z-index: 1;

}

.right-arrow:hover {
    cursor: pointer;
}

.left-arrow:hover {
    cursor: pointer;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;

}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08)
}

.slide-number {
    position: absolute;
    top: 90%;
    left: 48%;
    color: white;
    opacity: 0;
}

.slide-number.active {
    position: absolute;
    top: 90%;
    left: 45%;
    color: white;
    opacity: 1;

}



@media screen and (max-width: 700px) {

    .slide-number {
        display: none;
    }

    .slider-container {
        height: 255px;
    }

    .slider-image {
        height: 100%;
    }

    .slide.active {
        height: 100%;
    }

    .left-arrow {
        top: 40%;
        scale: 0.6;
    }

    .right-arrow {
        top: 40%;
        scale: 0.6;
    }
}